@keyframes resizeAnimationVertical {
  0% {
    width: 6px;
    background-color: #424449FF;
  }
  50% {
    width: 8px;
    background-color: #424449FF;
  }
  100% {
    width: 12px;
    background-color: #007FD4FF;
  }
}

@keyframes reverseResizeAnimationVertical {
  0% {
    width: 12px;
    background-color: #007FD4FF;
  }
  50% {
    width: 8px;
    background-color: #424449FF;
  }
  100% {
    width: 6px;
    background-color: #424449FF;
  }
}

@keyframes resizeAnimationHorizontal {
  0% {
    height: 6px;
    background-color: #424449FF;
  }
  50% {
    height: 8px;
    background-color: #424449FF;
  }
  100% {
    height: 12px;
    background-color: #007FD4FF;
  }
}

@keyframes reverseResizeAnimationHorizontal {
  0% {
    height: 12px;
    background-color: #007FD4FF;
  }
  50% {
    height: 8px;
    background-color: #424449FF;
  }
  100% {
    height: 6px;
    background-color: #424449FF;
  }
}

.root {
  display: flex;
  height: 100%;
  width: 100%;
  
  &.vertical {
    flex-direction: row;
  }
  
  &.horizontal {
    flex-direction: column;
  }
  
  .Pane {
    display: flex;
    flex-direction: column;
  }
  
  .Resizer {
    background-color: #424449FF;
    z-index: 35;
    touch-action: none;
    pointer-events: auto;
    text-align: initial;
    transition: background-color 0.3s;
    &.vertical {
      position: relative;
      width: 6px;
      cursor: col-resize;
      
      &.hover {
        animation: resizeAnimationVertical 0.3s forwards;
      }
      
      &.reverse {
        animation: reverseResizeAnimationVertical 0.3s forwards;
      }
    }
    
    &.horizontal {
      position: relative;
      height: 6px;
      cursor: row-resize;
      
      &.hover {
        animation: resizeAnimationHorizontal 0.3s forwards;
      }
      
      &.reverse {
        animation: reverseResizeAnimationHorizontal 0.3s forwards;
      }
    }
    &.disableHoverEffect{
      width: 6px!important;
      background-color: #424449FF!important;
    }
  }
}
